version: '3.8'
services:
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5

  producer:
    image: golang:1.23-alpine
    working_dir: /app
    volumes:
      - .:/app
    environment:
      - REDIS_ADDR=redis:6379
    ports:
      - "8080:8080"
    command: go run cmd/producer/main.go
    depends_on:
      - redis

  monitor:
    image: golang:1.23-alpine
    working_dir: /app
    volumes:
      - .:/app
    environment:
      - REDIS_ADDR=redis:6379
    ports:
      - "8081:8081"
    command: go run cmd/monitor/main.go
    depends_on:
      - redis
